p {
  font-size: larger;
}

.world-background {
  background: url('../images/worldmap.png');
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.sidebar-about h1 {
  color: #4f4f56;
  margin-bottom: 15px;
}
.sidebar-about h2 {
  color: #4f4f56;
  margin-top: 0px;
  margin-bottom: 15px;
}
.sidebar-about .lead {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #4f4f56;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.groupon-logo-home {
  width: 100%;
}
.socialab-logo-home {
  height: 165px;
}
.allgreenup-logo-home {
  width: 90%;
}

.footer {
  margin-bottom: -64px;
}
