<div class="footer">
  <br>
  <div class="center">
    <h3>Únete a esta hackathon:</h3>

    <h2>#hack4good 0.6: hack against climate change</h2>

    <a href="https://geekli.st/hackathon/hack4good-06/santiago" target="_new">
      <button class="pure-button button-success button-xlarge">Registrate</button>
    </a>
  </div>

  <br>
  <h3 class="left">Auspiciado por</h3>
  <div class="pure-g">
    <div class="pure-u-8-24">
      <a href="http://www.groupon.cl/" target="_new">
        <img class="groupon-logo-home center-image" src="{{ site.baseurl }}public/images/groupon-logo.png">
      </a>
    </div>
    <div class="pure-u-8-24">
      <a href="http://socialab.com/" target="_new">
        <img class="socialab-logo-home center-image" src="{{ site.baseurl }}public/images/socialab.png">
      </a>
    </div>
    <div class="pure-u-8-24">
      <a href="http://www.allgreenup.com/" target="_new">
        <img class="allgreenup-logo-home center-image" src="{{ site.baseurl }}public/images/allgreenup.png">
      </a>
    </div>
  </div>
  </div>
</div>
