<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- FACEBOOK -->
  <meta property="og:title" content="Geeklist hack4good Santiago">
  <meta property="og:description" content="Hackea contra el cambio climatico">
  <meta property="og:site_name" content="hack4goodsantiago">
  <meta property="og:url" content="http://hack4goodsantiago.github.io/">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://hack4goodsantiago.github.io/public/images/geeklist-corps-logo-fb.png">
  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Hack4GoodStgo">
  <meta name="twitter:creator" content="@Hack4GoodStgo">
  <meta name="twitter:url" content="http://hack4goodsantiago.github.io/">
  <meta name="twitter:title" content="Geeklist hack4good Santiago">
  <meta name="twitter:description" content="Hackea contra el cambio climatico">
  <meta name="twitter:image" content="http://hack4goodsantiago.github.io/public/images/geeklist-corps-logo.png">

  <title>
    {% if page.title == "Inicio" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <!--link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css"-->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/pure-custom.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/site.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
